* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-family: "Tajawal", sans-serif;
  font-family: "Zen Kurenaido", sans-serif;
  scroll-behavior: smooth;
  color: black;
}

body {
  background-color: rgb(66, 153, 149);
}

.header {
  width: auto;
  height: 20px;
  background-color: rgb(209, 239, 243);
}

nav {
  width: auto;
  height: 30px;
  background-color: rgba(132, 255, 255, 0.753);
  border-bottom: solid 2px black;
  display: flex;
  justify-content: space-around;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgba(15, 3, 66, 0.616);
  border-top: solid 2px black;
  display: flex;
  justify-content: space-around;
}

.auto-input {
  color: rgb(45, 226, 45);
}

a:hover {
  color: rgb(201, 0, 0);
}

.circle_foto1 {
  display: flex;
  height: 400px;
  width: 400px;
  background-color: rgb(122, 116, 116);
  border-radius: 50%;
  display: flex;
  border: solid black 4px;
  margin-top: 5px;
}

.img1 {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.vierkantfoto1 {
  width: 100px;
  height: 100px;
  border: solid 2px black;
}

.tekst-box {
  position: relative;
  padding-top: 250px;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 26px;
  justify-content: space-around;
  overflow: hidden;
  padding-bottom: 10px;
}

.tekst-box::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -644px;
  width: 950px;
  height: 1000px;
  background-color: rgb(81, 127, 163);
  transform: rotate(45deg);
}

.introductie {
  position: relative;
  display: flex;
  background-color: rgb(116, 218, 212);
  height: 450px;
  width: 100%;
  overflow: hidden;
}

.introductie::before {
  content: "";
  position: absolute;
  top: -500px;
  left: -700px;
  width: 950px;
  height: 1000px;
  background-color: rgb(124, 241, 236);
  transform: rotate(45deg);
}

.introductie .overlay {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 40px;
}

.aftermat .overlay2 {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 40px;
}

.background_upper_mid {
  height: 1000px;
  width: 100%;
  background-color: rgb(69, 106, 134);
  display: flex;
  flex-wrap: wrap;
}

.background_mid_mid {
  height: 1000px;
  width: 100%;
  background-color: rgb(57, 69, 136);
}

.background_bottem_mid {
  height: 1000px;
  width: 100%;
  background-color: rgb(22, 3, 129);
}

.background_upper_mid .tekst1 {
  background-color: red;
  height: 400px;
  width: 500px;
  border: solid black 3px;
  margin-top: 300px;
  margin-left: 100px;
}

.background_upper_mid .circle_photo {
  background-color: red;
  height: 250px;
  width: 250px;
  border: solid black 3px;
  border-radius: 50%;
  margin-top: 250px;
  margin-left: 350px;
}

.background_upper_mid .tekst_links_onder {
  background-color: red;
  height: 200px;
  width: 400px;
  border: solid black 3px;
  margin-top: 150px;
}
