* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-family: "Tajawal", sans-serif;
  font-family: "Zen Kurenaido", sans-serif;
  scroll-behavior: smooth;
  color: black;
}

body {
  background-color: rgb(66, 153, 149);
}

.header {
  width: auto;
  height: 20px;
  background-color: rgb(125, 255, 153);
}

nav {
  width: auto;
  height: 50px;
  background-color: rgba(125, 255, 153);
  border-bottom: solid 2px black;
  display: flex;
  justify-content: space-around;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgba(125, 255, 153);
  border-top: solid 2px black;
  display: flex;
  justify-content: space-around;
}

.auto-input {
  color: rgb(45, 226, 45);
}

a:hover {
  color: rgb(201, 0, 0);
}

.circle_foto1 {
  display: flex;
  height: 400px;
  width: 400px;
  background-color: rgb(122, 116, 116);
  border-radius: 50%;
  display: flex;
  border: solid black 4px;
  margin-top: 5px;
}

.img1 {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.vierkantfoto1 {
  width: 100px;
  height: 100px;
  border: solid 2px black;
}

.tekst-box {
  position: relative;
  padding-top: 250px;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 26px;
  justify-content: space-around;
  overflow: hidden;
  padding-bottom: 10px;
}

.tekst-box::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -644px;
  width: 950px;
  height: 1000px;
  background-color: rgb(81, 127, 163);
  transform: rotate(45deg);
}

.introductie {
  position: relative;
  display: flex;
  background-color: rgb(116, 218, 212);
  height: 450px;
  width: 100%;
  overflow: hidden;
}

.introductie::before {
  content: "";
  position: absolute;
  top: -500px;
  left: -700px;
  width: 950px;
  height: 1000px;
  background-color: rgb(124, 241, 236);
  transform: rotate(45deg);
}

.introductie .overlay {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 40px;
}

.aftermat .overlay2 {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 40px;
}

.background_top {
  height: 1000px;
  width: 100%;
  background-color: rgb(69, 106, 134);
  display: flex;
  flex-wrap: wrap;
}

.background_mid_topmid {
  height: 1000px;
  width: 100%;
  background-color: rgb(57, 69, 136);
}

.background_mid_mid {
  height: 1000px;
  width: 100%;
  background-color: rgb(22, 3, 129);
}

.background_mid_bottemmid {
  height: 1000px;
  width: 100%;
  background-color: rgb(13, 0, 87);
}

.background_bottem {
  height: 1000px;
  width: 100%;
  background-color: rgb(18, 14, 44);
}

/*hier begint de code van p1*/
.background_top .p1tekst1 {
  background-color: red;
  height: 400px;
  width: 500px;
  border: solid black 3px;
  margin-top: 300px;
  margin-left: 100px;
}

.background_top .p1circle_photo {
  background-color: red;
  height: 450px;
  width: 450px;
  border: solid black 3px;
  border-radius: 50%;
  margin-top: 150px;
  margin-left: 225px;
}

.background_top .p1tekst_rechts_onder {
  background-color: red;
  height: 125px;
  width: 400px;
  border: solid black 3px;
  margin-left: 950px;
  margin-bottom: 350px;
}
/*hier eindigt de code van p1*/

/*hier begint de code van p2*/

/*hier eindigt de code van p2*/

/*hier begint de code van p3*/

/*hier eindigt de code van p3*/

/*hier begint de code van p4*/

/*hier eindigt de code van p4*/

/*hier begint de code van p5*/

/*hier eindigt de code van p5*/
